<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
					<li style="font-size:1.5em"> <font color="#444444">Matt Purtill</font></li>
	        		<li><a href="/">Home</a></li>
	        		<li><a href="/blog">Blog</a></li>
					<li><a href="/assets/matthew_purtill_web_cv.pdf">CV</a></li>
	    		</ul>
				<p>
			</nav>
			<div class="content">

			{{ content }}

			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="https://twitter.com/mattpurtill">twitter</a></li>
	        		<li><a href="https://github.com/purtill">github</a></li>
				</ul>
			</footer>
		</body>
	</html>
